.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  list-style: none;
  margin-top: 0px;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
}
.footer__column-link:hover {
  opacity: 0.5;
}
