.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  color:  #2f80ed;

}
.feynman__link:active {
  color: #2f80ed;
}
.feynman__link:visited {
  color:  #2f80ed;
}
.feynman__link:hover {
  opacity: 0.5;
}
